<?xml version="1.0"?>
<config>
  <Camera>
    <Enabled>true</Enabled>
    <Zoom><MaxZ>20</MaxZ><FOV>0.85</FOV><Fog>50</Fog><Style>1</Style></Zoom>
    <Rotation><Pitch>35</Pitch></Rotation>
  </Camera>
  <ScenarioHosting><Enabled>false</Enabled></ScenarioHosting>
  <LobbyExtension><Enabled>false</Enabled></LobbyExtension>
  <MenuSettings><Enabled>false</Enabled><ResolutionWidth>1024</ResolutionWidth><ResolutionHeight>768</ResolutionHeight></MenuSettings>
  <HUDPlayers><Enabled>false</Enabled></HUDPlayers>
</config>
